<body>
 <a href="/">Home</a>
 <a href="/about/">About</a>
 <a href="/blog/">Blog</a>
  
    <h1>Astro Site Blog Attempt</h1>
    <p>This is where I wil post about how I won't mess up using Astro.</p>
</body>